.chart {
    display: flex;
    position: relative;
    padding-top: 39px;
}

.col {
    flex: 1;
    align-self: flex-end;
    flex-direction: column-reverse;
    display: flex;
}

.col .square {
    width: 40%;
    margin: 0 auto;
}

.col .square:first-child {
    margin-top: 0;
}

.grey1 { background: #CFD8DC; }

.green1 { background: #4CAF50; }
.green2 { background: #A5D6A7; }
.green3 { background: #2E7D32; }

.blue1 { background: #03A9F4; }
.blue2 { background: #81D4FA; }
.blue3 { background: #0277BD; }

.orange1 { background: #FF9800; }
.orange2 { background: #FFCC80; }
.orange3 { background: #EF6C00; }

.col .label {
    text-align: center;
    color: #C1C1C1;
    font-size: 14px;
    line-height: 14px;
    padding-top: 14px;
}

.delimiter {
    position: absolute;
    left: 0;
    padding: 0 25px;
    display: flex;
    width: 100%;
    align-items: center
}

.delimiter-val {
    color: #c1c1c1;
    width: 50px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
}
.delimiter-line {
    height: 1px;
    background: #D5D5D5;
    flex: 1;
}