@import 'a_design/styles/mixins'

.Save {
  position absolute
  top 13px
  right 25px
}

.Details {
  position absolute
  top 0
  right 0
  _p(25)
}

.Details a {
  _color('blue')
  text-decoration underline
  cursor pointer
}