@import 'a_design/styles/mixins'

.modal-overlay {
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 5
  display flex
  justify-content center
  align-items center
  background rgba(0, 0, 0, .5)
}

.modal {
  max-width 400px
  width 800px
  border-radius 3px
  background white

  .modal-title {
    _p(20)
    _bb(1)
    _bc('grey1')
    _fs(22)
  }

  .modal-content {
    _p(20)
  }

  .paragraph {
    _pb(10)
  }

  .modal-content > .form-entry {
    _pb(10)
  }

  .modal-content > .form-entry ~ .form-entry {
    _pb(0)
  }

  .form-actions {
    _plr(20)
    _pb(20)
  }

  .button.secondary {
    background white
    _color('black')

    &:hover {
      background rgba(0, 0, 0, .1)
    }
  }

  .button:first-child {
    _mr(10)
  }

  .button:last-child {
    _ml(10)
  }

  .form-actions {
    display flex
    align-items center
  }

  .input:disabled,
  .button:disabled {
    opacity .8
    cursor not-allowed
  }

  .button:disabled:hover {
    background #4477e5
  }

  .button.secondary:disabled:hover {
    background white
  }

  .error-message {
    _pt(20)
    _color('red')
  }
}