@import 'a_design/styles/mixins'

.modal-overlay {
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 5
  display flex
  justify-content center
  align-items center
  background rgba(0, 0, 0, .5)
}

.modal {
  position relative
  width 500px
  border-radius 3px
  background white

  .modal-title {
    _p(20)
    _bb(1)
    _bc('grey1')
    _fs(22)
  }

  .modal-close {
    position absolute
    top 0
    right 20px
    font-family fantasy
    line-height 62px
    cursor pointer
    _fs(22)
  }

  .modal-content {
    _p(20)
  }

  .paragraph {
    _pb(10)
  }

  .modal-content > .form-entry {
    _pb(10)
  }

  .modal-content > .form-entry ~ .form-entry {
    _pb(0)
  }

  .form-actions {
    _plr(20)
    _pb(20)
    display flex
    align-items center
  }

  .form-actions div {
    text-align center
  }

  .form-actions div:first-child,
  .form-actions div:last-child {
    flex 1
  }

  .form-actions div:nth-child(2) {
    _mlr(10)
  }

  .button {
    width 100%
  }

  .button.secondary {
    background white
    _color('black')

    &:hover {
      background rgba(0, 0, 0, .1)
    }
  }

  .input:disabled,
  .button:disabled {
    opacity .8
    cursor not-allowed
  }

  .button:disabled:hover {
    background #4477e5
  }

  .button.secondary:disabled:hover {
    background white
  }

  .error-message {
    _pt(20)
    _color('red')
  }

  .error-message .paragraph {
    _m(0)
    _p(0)
  }
}